
<div class="row" *ngIf="!userId">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"></i>
        <input id="icon_prefix" type="text" class="validate" #name>
        <label for="icon_prefix">First Name</label>
      </div>

    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix"></i>
        <input id="icon_password" type="password" class="validate" #password>
        <label for="icon_prefix">Password</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn" (click)="onLogIn(name.value,password.value)">Log In</a>
  </form>
</div>
